<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
</head>

<header>
        <h2 class="logo">Iman's Rabbit Farm</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="Account.html">Account</a>
            <a href="createBooking.html">Booking</a>
            <a href="#">Ticket</a>
            <a href="AboutUS.html">About Us</a>
            <button class="btnlogin-popup">Login</button>
        </nav>
    </header>
<body>
    
    


<h2 class="y">TICKET MANAGEMENT</h2>
    <div class="container">
        <div class="title">MANAGE TICKET</div>
     <form th:action="@{/addTicket}"
        modelAttribute="addTicket"
        th:object="(${ticket})"
        method="post"
        enctype="multipart/form-data">

            <div class = "user-details">

            <div class = "input-box" >
            <label for = "name" class="details">Ticket Type</label>
            <input type="text" name="tickettype" placeholder="Ticket Type">
            </div>

            <div class = "input-box">
            <label for = "email" class="details">Email :</label>
            <input type = "number" name="ticketprice" placeholder="Ticket Price">
            </div>         

            <input type="submit" value="Create">





        </form>
    </div>
</body>
</html>