<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method ="post" th:action="@{/customerRegister}" modelAttribute="customerRegister" th:object="${customerRegister}">
<input type = "text" name="custname" required>
<input type = "text" name= "custpassword" required>
<input type = "email" name="custemail" required>
<input type = "text" name ="custphonenum" required>
<input type="text" name="custemail" required>

    </form>
</body>
</html>