<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="createBooking.css"
    
</head>

<header>
        <h2 class="logo">Iman's Rabbit Farm</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="Account.html">Account</a>
            <a href="createBooking.html">Booking</a>
            <a href="#">Ticket</a>
            <a href="AboutUS.html">About Us</a>
            <button class="btnlogin-popup">Login</button>
        </nav>
    </header>
<body>
    
    


<h2 class="y">BOOK YOUR TICKETS WITH US</h2>
    <div class="container">
        <div class="title">BOOK YOUR TICKETS</div>
        <form>
            <div class = "user-details">

            <div class = "input-box" >
            <label for = "name" class="details">Name :</label>
            <input type="text" name="Name" placeholder="Your Name">
            </div>

            <div class = "input-box">
            <label for = "email" class="details">Email :</label>
            <input type = "email" name="email" placeholder="Email">
            </div>         

            <div class = "input-box">
                <label for = "phoneNo" class="details">Phone Number : </label>
                <input type ="number" name="phoneNo" placeholder="Phone Number">
            </div>

            <div class = "input-box">
                <label for = "numAdult" class="details">Adult</label>
                <input type = "number" name = "numAdult" placeholder="No. of Adults">
            </div>

            <div class = "input-box">
                <label for = "numChildren" class="details">Children</label>
                <input type = "number" name = "numChildren" placeholder="No. of Childrens">
            </div>

            <div class = "input-box">
                <label for = "numSenior" class="details">Senior</label>
                <input type = "number" name = "numSenior" placeholder="No. of Seniors">
            </div>

            <div class = "input-box">
                <label for = "ticketDate" class="details">Date :</label>
                <input type = "date" name = "ticketDate" >
            </div>

            <div class = "button">
                <input type = "submit" value = "Check Availability"
            </div>
</div>



        </form>
    </div>
</body>
</html>